# Системные файлы
.DS_Store
Thumbs.db

# Папка виртуального окружения (если создается внутри проекта)
venv/
env/

# Конфигурационные файлы IDE
.vscode/
.idea/

# Файлы и папки Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp

# Файлы, связанные с тестами и отладкой
assets/example_sprites/* # исключите или добавьте реальные примеры, если нужно
tests/__pycache__/
tests/*.pyc

# Системные метаданные
*.swp
*.swo

# Игнорирование временных файлов, создаваемых Pillow или другими библиотеками
assets/*.png~
assets/*.jpg~
assets/*.tmp

# Исключить созданные пользователем спрайтшиты, если они временные
output/
config.json
